{
  "version": 1,
  "hooks": {
    "postToolUse": [
      {
        "command": "./hooks/bigbrain-mark-substantive.sh"
      }
    ],
    "stop": [
      {
        "command": "./hooks/bigbrain-maintenance.sh"
      }
    ]
  }
}
